<link href="poly-animate-css-base.html" rel="import">
<link href="poly-animate-css-attention-seekers.html" rel="import">
<link href="poly-animate-css-bouncing-entrances.html" rel="import">
<link href="poly-animate-css-bouncing-exits.html" rel="import">
<link href="poly-animate-css-fading-entrances.html" rel="import">
<link href="poly-animate-css-fading-exits.html" rel="import">
<link href="poly-animate-css-flippers.html" rel="import">
<link href="poly-animate-css-lightspeed.html" rel="import">
<link href="poly-animate-css-rotating-entrances.html" rel="import">
<link href="poly-animate-css-rotating-exits.html" rel="import">
<link href="poly-animate-css-sliding-entrances.html" rel="import">
<link href="poly-animate-css-sliding-exits.html" rel="import">
<link href="poly-animate-css-specials.html" rel="import">
<link href="poly-animate-css-zooming-entrances.html" rel="import">
<link href="poly-animate-css-zooming-exits.html" rel="import">

<core-style id="polyAnimateCss">

{{list.polyAnimateCssAttentionSeekers.cssText}}
{{list.polyAnimateCssBouncingEntrances.cssText}}
{{list.polyAnimateCssBouncingExits.cssText}}
{{list.polyAnimateCssFadingEntrances.cssText}}
{{list.polyAnimateCssFadingExits.cssText}}
{{list.polyAnimateCssFlippers.cssText}}
{{list.polyAnimateCssLightspeed.cssText}}
{{list.polyAnimateCssRotatingEntrances.cssText}}
{{list.polyAnimateCssRotatingExits.cssText}}
{{list.polyAnimateCssSlidingEntrances.cssText}}
{{list.polyAnimateCssSlidingExits.cssText}}
{{list.polyAnimateCssSpecials.cssText}}
{{list.polyAnimateCssZoomingEntrances.cssText}}
{{list.polyAnimateCssZoomingExits.cssText}}

</core-style>

